<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slime_L_Hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{246,200}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,94},{246,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slime_L_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,234}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{248,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slime_L_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{246,200}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,94},{246,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slime_L_Hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{246,116}}</string>
                <key>offset</key>
                <string>{3,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,179},{246,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slime_L_Hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{246,190}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,104},{246,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slime_L_Hurt.png</string>
            <key>size</key>
            <string>{252,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7624b5308796e7a69c06cca838e6b2:65a9b45f19676f10effc60337834b6ba:a8f9f4fb9003840828a8630da6cb0fa5$</string>
            <key>textureFileName</key>
            <string>slime_L_Hurt.png</string>
        </dict>
    </dict>
</plist>
