<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Knight_L_Stay_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,288}}</string>
                <key>offset</key>
                <string>{-4,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,305},{148,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Knight_L_Stay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{148,288}}</string>
                <key>offset</key>
                <string>{-7,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,305},{148,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Knight_L_Stay.png</string>
            <key>size</key>
            <string>{152,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:227703e3a6754ad43c1aba1c9591e407:b8e1c54b36c88303727123485c21b276:dc08e9560df5244b9b3cc64c4a38eab5$</string>
            <key>textureFileName</key>
            <string>Knight_L_Stay.png</string>
        </dict>
    </dict>
</plist>
