<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slime_R_Stay_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{246,190}}</string>
                <key>offset</key>
                <string>{10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,105},{246,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slime_R_Stay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{246,204}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,90},{246,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slime_R_Stay_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,220}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,74},{246,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slime_R_Stay_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{246,204}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,90},{246,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>slime_R_Stay_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{246,190}}</string>
                <key>offset</key>
                <string>{10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,105},{246,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slime_R_Stay.png</string>
            <key>size</key>
            <string>{250,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19a9c595f3e7c7af6032c0d6e4dbef6e:5e71d0011e59a33989a2b54e7fa8f2e6:f4823529f9abbfad0ca62bdb042849d4$</string>
            <key>textureFileName</key>
            <string>slime_R_Stay.png</string>
        </dict>
    </dict>
</plist>
