<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Knight_L_Stay_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{148,288}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,3},{148,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Knight_L_Stay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,290}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,1},{148,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Knight_L_Stay.png</string>
            <key>size</key>
            <string>{152,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dfe96b3076f00085bdaf86c9f870795:fd2345da607d22c9f6d9f18448b7e83f:04b33a46d4fe88a17988bd4749ebc122$</string>
            <key>textureFileName</key>
            <string>Knight_L_Stay.png</string>
        </dict>
    </dict>
</plist>
