<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Knight_R_Stay_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{148,286}}</string>
                <key>offset</key>
                <string>{-9,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,304},{148,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>Knight_R_Stay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,288}}</string>
                <key>offset</key>
                <string>{-8,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,300},{148,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Knight_R_Stay.png</string>
            <key>size</key>
            <string>{152,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08608da2b3fc9e2da6e6fba471c7f74a:1be97553ec34fadc58440f614b6451d7:b13609a2140bf0fba53159429bcf0774$</string>
            <key>textureFileName</key>
            <string>Knight_R_Stay.png</string>
        </dict>
    </dict>
</plist>
